<div class="spelling-container">
  <aside class="sidebar">
    <h2>Spelling Games</h2>
    <button class="add-words-btn" (click)="toggleWordAddition()">Add Words</button>
    <!-- TODO: Make game selection button look more like buttons. -->
    <ul>
      <li [class.disabled]="savedWords.length === 0"
    (click)="savedWords.length > 0 && navigateToGame('word-search')">Word Search</li>


      <!-- <li [ngClass]="{ 'disabled': savedWords.length === 0 }"
          (click)="savedWords.length > 0 && navigateToGame('StoryWordSearch')">Story Word Search</li> -->

      <!-- <li [ngClass]="{ 'disabled': savedWords.length === 0 }"
          (click)="savedWords.length > 0 && navigateToGame('CrosswordPuzzle')">Crossword Puzzle</li>

      <li [ngClass]="{ 'disabled': savedWords.length === 0 }"
          (click)="savedWords.length > 0 && navigateToGame('SpellingDecoder')">Spelling Decoder</li>

      <li [ngClass]="{ 'disabled': savedWords.length === 0 }"
          (click)="savedWords.length > 0 && navigateToGame('JumbledWords')">Jumbled Words</li>

      <li [ngClass]="{ 'disabled': savedWords.length === 0 }"
          (click)="savedWords.length > 0 && navigateToGame('MissingLetters')">Missing Letters</li>

      <li [ngClass]="{ 'disabled': savedWords.length === 0 }"
          (click)="savedWords.length > 0 && navigateToGame('MatchTheWordDefinition')">Match the Word Definition</li> -->
    </ul>
    Add Words to Select Games <br>
    More Games Coming Soon!

  </aside>

  <main class="content">

    <router-outlet></router-outlet>
  </main>

  <div class="word-list-container">
    <div *ngIf="showWordAddition">
      <textarea [value]="spellingWords" (input)="handleInput($event)" rows="25"></textarea>
      <br>
      <button (click)="saveWords()">Save</button>
    </div>
    <div *ngIf="!showWordAddition">
    <app-word-list [words]="savedWords"></app-word-list>
    </div>
  </div>
</div>
